@model IEnumerable<AddDonation>
@{
    ViewData["Title"] = "cause_list";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

<
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cause</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.cause</td>
                
            </tr>
        }
        <!-- Add more rows as needed -->
    </tbody>
</table>


